<a class="summary" href="{{ .Permalink }}">

<div>
  <p class="summary-header">
    <span class="summary-title">{{ .Title }}</span>
    {{ if not .Date.IsZero }}
    <span class="summary-day">
      {{ .Date.Format "Jan 2, 2006"}}
    </span>
    {{ end }}
  </p>

  {{/*  Content summary! Removes headers from the content summary  */}}
  {{- $summaryText := .Content | safeHTML | replaceRE `<h\d>(.*)<\/h\d>` "" | replaceRE `<figure>(\n|.)*?<\/figure>` "" | htmlUnescape | safeHTML | plainify | truncate 200 -}}

  {{ if $summaryText }}
    <p class="summary-text">
      {{ $summaryText }}
    </p>
  {{ end }}

</div>

{{/*
  For debugging, can be useful to use something like
  the following to print out which resources are available.
  The image must be in the assets/ directory.
  <p>{{resources.Match "**"}}</p>
  */}}

{{ with .Params.photo }}
  {{ with resources.GetMatch . }}
    {{ $img := .Fill "112x112" }}
    <figure>
      <img src="{{ $img.RelPermalink }}">
    </figure>
  {{ end }}
{{ end }}

</a>